/* Styling for the Transaction Statistics */
.statistics {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #eef6f8;
    border-radius: 8px;
    text-align: center;
  }
  
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .statistics-box {
    display: inline-block;
    background-color: #f8e07e;
    padding: 15px;
    border-radius: 8px;
  }
  
  .statistics p {
    font-size: 1.2rem;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  